.presentacion {
    display: flex;
    flex-direction: column;   /* coloca cada <p> debajo del otro */
    align-items: center;      /* centra horizontalmente los <p> */
    gap: 10px;                /* espacio entre cada párrafo */
    text-align: center;       /* centra el texto dentro de cada <p> */
}

.encabezado{
    display: flex;
    flex-direction: column;   /* coloca cada <p> debajo del otro */
    align-items: center;      /* centra horizontalmente los <p> */
    gap: 10px;                /* espacio entre cada párrafo */
    text-align: center;       /* centra el texto dentro de cada <p> */
}

.img-portada {
    width: 50%;
    margin: auto;
    display: block;
  }

header {
    background-color: #f8f2e8;
    padding: 20px;
    text-align: center;
}

header form {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

header button {
    padding: 10px 15px;
    border: none;
    background-color: #d85c3a;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

header button:hover {
    background-color: #b9482f;
}

footer {
    background-color: #f7f3e9;
    padding: 20px;
    text-align: center;
    color: #333;
    font-size: 14px;
    margin-top: 40px;
}



.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.footer-info,
.footer-redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-redes a {
    text-decoration: none;
    color: #8b4513;
}

.footer-redes a:hover {
    text-decoration: underline;
}

.footer-copy {
    grid-column: 1 / 4; /* abarca todo el ancho */
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color: #555;
}